<form [formGroup]="form" (ngSubmit)="updateProducto(form.value)" enctype="multipart/form-data">
    <div>
        <h3 class="">Agregar Producto</h3>
    </div>
    <div class="form-floating m-1">
        <input type="number" class="form-control" formControlName="codigo" id="codigo">
        <label for="codigo">Codigo</label>
    </div>
    <div class="form-floating m-1">
        <input type="text" class="form-control" formControlName="nombre" id="nombre">
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-floating m-1">
        <input type="number" class="form-control" formControlName="precio" id="precio">
        <label for="precio">Precio</label>
    </div>
    <div class="form-floating m-1">
        <select class="form-select form-select" formControlName="categoria" id="categoria">
            <option>Seleccione</option>
            <option [value]="categoria.id" *ngFor="let categoria of categorias">
                {{ categoria.nombreCat }}
            </option>
        </select>
        <label for="categoria" class="form-label">Categoria</label>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Foto:</label>
        <input type="file" class="form-control" formControlName="foto" id="foto" (change)="onFileSelect($event)">
    </div>
    <div class="m-1">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>
<div class="text-center">{{mensaje}}</div>